/******* RESET ********/

:root {
  --blue: #33c2ff;
  --black-light: #4c4c4c;
  --blue-light: #ace3fb;
  --white-light: #f6f5f5;
  --white-700: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 10px;
}

body {
  background-color: #f3f3f3;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem 2rem;
  justify-content: center;
  align-items: center;
}

input,
textarea,
button {
  font: 400 1rem;
}

.title {
  font-weight: 500;
  color: var(--blue);
  font-size: 3rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

/******* UTILITARIOS ********/

/******* HEADER ********/
.bg-header {
  background: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  width: calc(100% - 6.1rem);
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.c-header {
  max-width: 1200px;
  margin: 0 auto;
  height: 8.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******* MENU VERTICAL ********/
.menu-vertical {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 4px 4px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.logo {
  padding-top: 2rem;
}

/******* CALCULAR VALORES BOLSAS ********/

.c-calc {
  width: 1100px;
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}
